.user-info ul, .user-editing ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.user-info li, .user-editing li {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info li:last-child, .user-editing li:last-child {
  border-bottom: none;
}

.user-info li span:first-child {
  font-weight: 500;
  color: #34495e;
}

.user-info button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
}

.user-info button:hover {
  background-color: #eee;
}