body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.balance {
    display: flex;
    justify-content: space-evenly;
}

.ten-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    height: 275px;
    width: 200px;
    border-radius: 5px;
    margin-top: 175px;
}

.fifty-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    height: 275px;
    width: 200px;
    border-radius: 5px;
    margin-top: 175px;
}

.hundred-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    height: 275px;
    width: 200px;
    border-radius: 5px;
    margin-top: 175px;
}

.ten-card span {
    font-size: 50px;
    color: #000000;
}

.ten-card button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.fifty-card button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.hundred-card button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.fifty-card span {
    font-size: 50px;
    color: #000000;
}

.hundred-card span {
    font-size: 50px;
    color: #000000;
}