.main-page {
    display: flex;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.left-panel {
    width: 15%;
    height: calc(100vh - 70px);
    background-color: #181a1b;
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    overflow-y: auto;
}

.main-panel {
    background-color: #2f2f2f;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 280px;
    padding-top: 20px;
    min-width: 0;
}

.left-panel h2 {
    color: #f0f0f0;
    font-size: 24px;
    margin-bottom: 20px;
}

.left-panel ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.left-panel li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #2f2f2f;
    transition: background-color 0.3s ease;
}

.left-panel li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.product-card {
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
}