.left-panel {
    width: 15%;
    height: calc(100vh - 70px);
    background-color: #181a1b;
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    overflow-y: auto;
}

.main-panel {
    margin-left: 15%;
    width: 85%;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: #2f2f2f;
    overflow-y: auto;
}

h2 {
    color: #f0f0f0;
    font-size: 24px;
    margin-bottom: 20px;
}

.left-panel-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.left-panel-content ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #2f2f2f;
    transition: background-color 0.3s ease;
}

.left-panel-content ul li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}